<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment" />

<body>
    <main class="board-main">
        <div class="container">
            <article>
                <section>
                    <div class="board-title">
                        <h2>게시글 수정</h2>
                    </div>
                </section>
                <section>
                    <div class="board-form">
                        <form>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="id" th:value="${board.id}">
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="boardType" th:value="${board.boardType}">
                            </div>

                            <div class="form-group">
                                <label for="title">제목</label>
                                <input type="text" class="form-control" id="title" th:value="${board.title}">
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="userId" th:value="${board.userId}">
                            </div>
                            <div class="form-group">
                                <label for="content"> 내용 </label>
                                <textarea class="form-control" rows="15" id="content" th:value="${board.content}" th:text="${board.content}"></textarea>
                            </div>
                        </form>
                        <div class="board-btn-group">
                            <button type="button" class="btn btn-primary" id="btn-board-update">수정</button>
                            <a href="/" role="button" class="btn btn-secondary">취소</a>
                        </div>
                    </div>
                </section>
            </article>

        </div> <!-- /container -->
    </main>

<div th:replace="fragments/footer :: footerFragment" />
</body>

</html>