 :root {
     --text-color: #f0f4f5;
     --secondary-text-color: #0670a1;
     --background-color: #263343;
     --highlight-color: #056347;
 }

 body {
    margin: 0;
 }

 .btn {
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
 }

 .btn:hover {
    transform: scale(0.97);
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--background-color);
     padding: 6px 8px;
 }

 .navbar a {
    text-decoration: none;
    color: var(--text-color);
    padding: 28px 10px;
    margin: 0px;
 }


 .navbar__logo {
    font-size: 24px;
    color : var(--text-color);
 }

 .navbar__menu {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
 }

 .navbar__menu a:hover {
     border-bottom: 6px #fff solid;
 }

 .navbar__auth {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
 }

 .navbar__auth a:hover {
     border-bottom: 6px #fff solid;
 }

 svg {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 25px;
      height: 25px;
      display: none;
  }

 svg:hover {
     border-bottom: none;
 }

 .board-btn-group {
    float: right;
 }

 .board-title {
    margin: 24px 36px;
 }

 .board-main {
    justify-content: center;
    margin: 36px 36px;
 }

 section {
    padding : 0px 20px;
 }

 .title-area {
    padding: 16px 8px 0px 8px;
 }

 .writer-info {
    font-size: 12px;
    font-weight: bold;
    color: var(--secondary-text-color);
    padding : 0px 24px;
 }

 .article-viewer {
    padding: 24px 0px;
 }

 .error-main {
    padding: 10%;
    text-align: center;
 }

 .error-title,
 .error-btn-group {
    color: var(--background-color);
 }

 .page-nav {
     text-align: center;
     width: 100%;
 }

 @media screen and (max-width: 768px) {
      .navbar {
          flex-direction: column;
          align-items: flex-start;
          padding: 8px 24px;
      }

     .navbar a:hover {
         border-bottom: none;
         font-weight: bold;
     }
      .navbar__menu {
          flex-direction: column;
          align-items: center;
          width: 100%;
          display: none;
      }

      .navbar__menu li {
          width: 100%;
          text-align: center;
      }

      .navbar__auth {
          flex-direction: column;
          align-items: center;
          width: 100%;
          display: none;
      }

      svg {
          display: block;
      }

      .navbar__menu.active,
      .navbar__auth.active {
           display: flex;
      }

  }

  @media screen and (max-width: 412px) {
     .board-btn-group {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
  }
