<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.rooftophero.mybatiscase.mapper.BoardMapper">

    <insert id="insertBoard">
        INSERT INTO board (title, content, board_type, user_id)
        VALUES (#{title}, #{content}, #{boardType}, #{userId})
    </insert>

    <select id="selectBoard" resultType="Board">
        SELECT id, title, content, board_type, user_id, created_date, updated_date
        FROM board
        WHERE id = #{id}
    </select>

    <update id="updateBoard" parameterType="Board">
        UPDATE board
        SET title = #{title},
            content = #{content},
            board_type = #{boardType},
            updated_date = now()
        WHERE id = #{id}
    </update>

    <delete id="deleteBoard">
        DELETE FROM board
        WHERE id = #{id}
    </delete>

    <select id="listBoard" resultType="Board">
        SELECT id, title, content, board_type, user_id, created_date, updated_date
        FROM board
        ORDER BY id DESC
    </select>

    <select id="listBoardPagination" resultType="Board">
        SELECT id, title, content, board_type, user_id, created_date, updated_date
        FROM board
        ORDER BY id DESC
        LIMIT #{pageSize} OFFSET #{currentNumber}
    </select>

    <select id="totalCountBoard" resultType="Integer">
        SELECT COUNT(*)
        FROM board;
    </select>
</mapper>